.attribution {
    font-size: 11px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  body {
    padding: 0;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
  }
  
  .outer-sec{
      margin:10px;
      width:650px;
      height:430px;
      border-radius:8%;
      display:flex;
       background-color: white;
      box-shadow: 5px 5px 40px 2px rgb(173, 216, 230,0.25);
  }
  .section-1{
      width:325px;
      height:430px;
      border-radius:8%;
      background-image:
      linear-gradient(
        hsl(252, 100%, 67%), hsl(241, 81%, 54%)
      );
  }
  .section-1 span{
      color:rgba(255, 255, 255, 0.584);
      margin: auto;
      padding:10% 0;
      display: block;
      text-align: center;  
  }
  .circle{
      width:180px;
      height:180px;
      border-radius:50%;
      background-image:
      linear-gradient(
          hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)
      );
      margin: auto;
      display: block;
      text-align: center; 
  }
  .title-1{
      font-size: 50px;
      color:rgb(255, 255, 255) !important;
      margin: auto;
      padding:18% 0 0 0 !important;
      display: block;
      text-align: center; 
      font-weight: 800;
  }
  .sub-title{
      padding: 0 !important;
      font-size: 14px;
  }
  .title-2{
      font-size: 26px;
      font-weight: 500;
      color:white !important;
      padding:7% 0 0 0 !important;
  }
  .description{
      font-size: 16px;
      padding:5% 16% !important;
  }
  
  .section-2{
      margin:30px 35px;
  }
  .summary-title{
      font-weight:700;
  /* 	font-size:24px */
  }
  .card{
      margin:1rem 0;
      height:2rem;
      width:14rem;
      font-size:16px;
      border-radius:10px;
      padding:10px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      align-content: center;
  }
  .card > div{
    display:flex;
  }
  div > img{
    margin:0 5%;
  }
  .card-1{
      background-color:hsl(0, 100%, 67%,0.125);
  }
  .card-2{
      background-color:hsl(39, 100%, 56%,0.125);
  }.card-3{
      background-color:hsl(166, 100%, 37%,0.125);
  }.card-4{
      background-color:hsl(234, 85%, 45%,0.125);
  }
  .card-1 .title-3{
      color:hsl(0, 100%, 67%);
  }
  .card-2 .title-3{
      color:hsl(39, 100%, 56%);
  }.card-3 .title-3{
      color:hsl(166, 100%, 37%);
  }.card-4 .title-3{
      color:hsl(234, 85%, 45%);
  }
  .value{
      font-weight:700;
  }
  .value-1{
      color:grey !important;
      font-weight:700;
  }
  
  .btn{
      padding:1rem 5.4rem;
      border-radius:5rem;
      border:none;
      background-color:hsl(224, 30%, 27%);
      color:white;
      font-weight:700;
      font-size:14px;
      margin-top:1rem;
  }
  
  
  @media (max-width: 375px){
      .outer-sec{
      width:auto;
      height:auto;
      border-radius:0 0 8% 8%;
          display:flex;
          flex-direction:column;
          margin:0;
  }
      .body {
    padding: 0;
          margin: 0;
      }
      .section-1{
      width:auto;
      height:auto;
          border-radius:0 0 8% 8%;
  }
      .card{
          width:auto;
      }
      .btn{
          padding:1rem 39%;
      }
  }